doctype.html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title pouch_form_app
    link(rel="stylesheet", href="css/jquery.mobile-1.4.5.min.css")
    link(rel="stylesheet", href="css/style.css")
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    script(src="js/jquery-2.2.2.min.js")
    script(src="js/jquery.mobile-1.4.5.min.js")
    script(src="js/pouchdb-5.3.1.min.js")
    script(src="js/script.js")
  body

    div(data-role="page",id="home")
      div(data-role="header")
        h1 PouchDB Form App

      div(role="main",class="ui-content")
        a(href="#add",class="ui-btn") Add
        a(href="#admin",class="ui-btn") Admin

      //- div(data-role="footer")
      //-   p footer


    div(data-role="page",id="add")
      div(data-role="header",data-add-back-btn="true")
        h1 Add Data to DB
      div(role="main",class="container ui-content")
        form(method="get")
          label(for="fname")
            i First Name:
          input(type="text",id="fname",required)
          label(for="lname")
            i Last Name:
          input(type="text",id="lname",required)
          label(for="email")
            i Email:
          input(type="email",id="email",required)
          label(for="phone")
            i Phone:
          input(type="tel",id="phone")
          label(for="subject")
            i Subject:
          input(type="text",id="subject")
          label(for="message")
            i Message:
          textarea(id="message",rows="20")
          div(class="ui-grid-a")
            div(class="ui-block-a")
              input(type="submit",id="submit-btn",value="Submit")
            div(class="ui-block-b")
              input(type="reset",id="reset-btn",value="Reset")

    div(data-role="page",id="admin")

      div(data-role="header",data-add-back-btn="true")
        h1 Admin: Search Data

      div(role="main",class="container ui-content")
        div
          input(type="button",id="refresh-btn",value="Refresh Data")

        ul(id="results",data-role="listview",data-filter="true",data-filter-placeholder="Search contacts...",data-inset="true",date-input="#")
        </ul>
